html 
    head 
        meta(charset="UTF-8")
        link(href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet")

        title Main Page 

    body
        h1(class="text-6xl") Main Page
        div
            h4=postTitle0
            h5 By #{postAuthor0}
            p=postContent0
        br
        div
            h4=postTitle1
            h5 By #{postAuthor1}
            p=postContent1
        br
        div
            h4=postTitle2
            h5 By #{postAuthor2}
            p=postContent2
        br
        div
            h4=postTitle3
            h5 By #{postAuthor3}
            p=postContent3

